<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wish_update</title>
    <link rel="stylesheet" ref="/src/main/resources/static/styles/style.css" th:href="@{/styles/style.css}">
</head>
<body>
<header>
    <nav class="navbar">
        <a href="/">Log ud</a>
        <a th:href="@{/myUser(userId=${user.userId})}">Min Profil</a>
        <a class="active" th:href="@{/myWishlists(userId=${user.userId})}">Mine &Oslash;nskelister</a>
        <a th:href="@{/userFrontpage(userId=${user.userId})}">Forside</a>
        <b><img th:src="@{images/oenskelisten.png}" id="frontpageLogo"/></b>
        <b><h1 id="frontpageHeaderName">Ønskelisten</h1></b>
    </nav>
</header>
<div class="center-page">
        <div class="center-form">
            <div class="form-box">
                <a id="overview" th:href="@{/wish(wishlistId=${wish.wishlistId}, userId=${user.userId})}">&lt; Overblik</a>
                <br>
                <br>
                <h2>Rediger Ønske</h2>
                <br>
                <form action="/updateWish" method="post">
                    <input type="hidden" name="userId" th:value="${user.userId}">
                    <input type="hidden" name="wishId" th:value="${wish.wishId}">
                    <input type="hidden" name="wishlistId" th:value="${wish.wishlistId}">
                    <label class="form-label" for="wishName">Navngiv ønske</label>
                    <input type="text" class="form-text-box" maxlength="20" id="wishName" name="wishName" placeholder="Indtast ønskets titel" th:value="${wish.wishName}" required>
                    <br>
                    <br>
                    <label class="form-label" for="wishDescription">Beskrivelse</label>
                    <input type="text" class="form-text-box" maxlength="30" id="wishDescription" name="wishDescription" placeholder="Indtast beskrivelse" th:value="${wish.wishDescription}" required>
                    <br>
                    <br>
                    <label class="form-label" for="price">Pris</label>
                    <input type="text" class="form-text-box" step="0.01" min="0" id="price" name="price" placeholder="Indtast pris" th:value="${wish.price}" required>
                    <br>
                    <br>
                    <button type="submit" class="operation-button saveChangesButton">GEM ÆNDRINGER</button>
                </form>
            </div>
        </div>
</div>
<div class="div2" th:insert="~{home/footer :: footer}"></div>
</body>
</html>