<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wish_add</title>
</head>
<body>
<body>
<h1>Add Wish</h1>
<form action="/addWish" method="post">
    <input type="hidden" id="wishlistId" name="wishlistId" th:value="${wishlist.wishlistId}">
    <br>
    <label for="wishName">Product name</label>
    <input type="text" id="wishName" name="wishName">
    <br>
    <label for="wishDescription">Description</label>
    <input type="text" id="wishDescription" name="wishDescription">
    <br>
    <label for="price">Price</label>
    <input type="text" id="price" name="price">
    <br>
    <button type="submit">Add Wish</button>
</form>
<br>
<form action="/wishlist" method="get">
    <button>Cancel</button>
</form>
</body>

<form action="/new_wish" method="get">
    <button type="submit">Tilføj Ønske</button>
</form>
</body>
</html>