<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user_frontpage</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body id="frontpageBody">
    <header>
        <div th:replace="~{home/navbar/user/frontpage}"></div>
    </header>
    <div class="center-page">
        <div class="frontpage-center">
            <div class="user-frontpage">
                <h1>Hej <span class="user-name" th:text="${user.firstName}"></span>!</h1>
                <h3>Tryk på Mine Ønskelister for at gå i gang!</h3>
            </div>
        </div>
    </div>
    <div th:insert="~{home/footer :: footer}"></div>
</body>
</html>