<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link rel="stylesheet" ref="/src/main/resources/static/styles/style.css" th:href="@{/styles/style.css}">
</head>
<body>
<header>
    <nav class="navbar">
        <a href="/login">Log ind</a>
        <a class="active" href="/newUser">Opret Bruger</a>
        <a href="/">Forside</a>
        <b><img th:src="@{images/oenskelisten.png}" id="frontpageLogo" onclick="window.location.href='/';" style="cursor:pointer;"/></b>
        <b><h1 id="frontpageHeaderName">Ønskelisten</h1></b>
    </nav>
</header>
<div class="center-page">
    <div class="center-form">
        <div class="form-box">
            <h2>Opret Bruger</h2>
            <br>
            <form action="/addUser" method="post">
                <label class="form-label" for="firstName">Fornavn</label>
                <input type="text" class="form-text-box" id="firstName" name="firstName" placeholder="Indtast fornavn" required>
                <br>
                <br>
                <label class="form-label" for="lastName">Efternavn</label>
                <input type="text" class="form-text-box" id="lastName" name="lastName" placeholder="Indtast efternavn" required>
                <br>
                <br>
                <label class="form-label" for="email">E-mail</label>
                <input type="email" class="form-text-box" id="email" name="email" placeholder="Enter email" required>
                <br>
                <br>
                <label class="form-label" for="userPassword">Kodeord</label>
                <input type="password" class="form-text-box" id="userPassword" name="userPassword" placeholder="Indtast kodeord" required>
                <br>
                <br>
                <button type="submit" class="operation-button applyButton">OPRET BRUGER</button>
            </form>
        </div>
    </div>
</div>
<div class="div2" th:insert="~{home/footer :: footer}"></div>
</body>
</html>
