<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link rel="stylesheet" ref="/src/main/resources/static/styles/style.css" th:href="@{/styles/style.css}">
</head>
<body>
<header>
    <nav class="navbar">
        <a href="/login">Log ind</a>
        <a class="active" href="/newUser">Opret Bruger</a>
        <a href="/">Forside</a>
        <b><img th:src="@{images/oenskelisten.png}" id="frontpageLogo" onclick="window.location.href='/';" style="cursor:pointer;"/></b>
        <b><h1 id="frontpageHeaderName">Ønskelisten</h1></b>
    </nav>
</header>
<div class="add-form-container">
    <h2>Add User</h2>
    <form action="/addUser" method="post">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" placeholder="Enter first name" required>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" placeholder="Enter last name" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter email" required>
        <label for="userPassword">Password:</label>
        <input type="password" id="userPassword" name="userPassword" placeholder="Enter password" required>
        <button type="submit" class="add-btn">Add User</button>
    </form>
</div>
<div class="div2" th:insert="~{home/footer :: footer}"></div>
</body>
</html>
