<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my_wishlists</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body id="body-myWishlists">
    <header>
        <div th:replace="~{home/navbar/user/wishlist}"></div>
    </header>
    <div class="center-page">
        <div class="form-box" id="center-myWishlists-form">
            <h1>Mine Ønskelister</h1>
            <br>
            <div class="wishlist-container">
              <span th:each="wishlist : ${wishlists}" class="wishlist-box">
                  <form th:id="'wishForm_' + ${wishlist.wishlistId}" class="wishlist-form-button" action="wish" method="get">
                    <input type="hidden" name="wishlistId" th:value="${wishlist.wishlistId}">
                    <input type="hidden" name="userId" th:value="${user.userId}">
                      <button type="submit" class="wishlist-name-button">
                        <h3 th:text="${wishlist.wishlistName}">Wishlist Name</h3>
                      </button>
                    </form>
                <div class="wishlist-lower-box">
                    <form action="/wishlistUpdate" method="get" class="wishlist-form-button">
                      <input type="hidden" name="id" th:value="${wishlist.wishlistId}">
                      <input type="hidden" name="userId" th:value="${user.userId}">
                    <button type="submit" id="wishlist-update-button" class="wishlist-button">✎ Rediger</button>
                  </form>
                  <form action="wishlistDelete" method="post" class="wishlist-form-button">
                    <input type="hidden" name="userId" th:value="${user.userId}">
                    <input type="hidden" name="wishlistId" th:value="${wishlist.wishlistId}">
                    <button type="submit" id="wishlist-delete-button" class="wishlist-button">🗑 Slet</button>
                  </form>
                </div>
              </span>
                <div class="wishlist-box">
                    <form action="/newWishlist" method="get">
                        <input type="hidden" name="userId" th:value="${user.userId}">
                        <button type="submit" class="wishlist-add-button">+ OPRET ØNSKELISTE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="div2" th:insert="~{home/footer :: footer}"></div>
</body>
</html>