<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Wishlist</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body id="remove-body-bottom-padding">
    <header>
        <div th:replace="~{home/navbar/user/wishlist}"></div>
    </header>
    <div class="center-page">
        <div class="center-form">
            <div class="form-box">
                <a class="overview" th:href="@{/myWishlists(userId=${user.userId})}">< Overblik</a>
                <br>
                <br>
                <h2>Opret Ønskeliste</h2>
                    <br>
                    <form action="/insertWishlist" method="post">
                        <input type="hidden" id="userId" name="userId" th:value="${user.userId}">
                        <label class="form-label" for="wishlistName">Ønskelistens titel</label>
                        <input type="text" class="form-text-box" maxlength="20" id="wishlistName" name="wishlistName" placeholder="Indtast titel på ønskeliste" required>
                        <br>
                        <br>
                        <button type="submit" class="operation-button applyButton">OPRET ØNSKELISTE</button>
                 </form>
            </div>
        </div>
    </div>
    <div th:insert="~{home/footer :: footer}"></div>
</body>
</html>
