<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" ref="/src/main/resources/static/styles/style.css" th:href="@{/styles/style.css}">
</head>
<body id="frontpageBody">
    <header>
        <nav class="navbar">
            <a href="/login">Log ind</a>
            <a href="/newUser">Opret Bruger</a>
            <a class="active" href="/">Forside</a>
            <b><img th:src="@{images/oenskelisten.png}" id="frontpageLogo" onclick="window.location.href='/';" style="cursor:pointer;"/></b>
            <b><h1 id="frontpageHeaderName">Ønskelisten</h1></b>
        </nav>
    </header>
    <div class="center-page">
        <div class="frontpage-center">
            <div class="user-frontpage">
                <h1>Velkommen til <span class="site-title">Ønskelisten</span></h1>
                <br>
                <h3>Her går dine ønsker i opfyldelse!</h3>
            </div>
        </div>
    </div>
    <div th:insert="~{home/footer :: footer}"></div>
</body>
</html>