<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body id="frontpageBody">
    <header>
        <div th:replace="~{home/navbar/guest/frontpage}"></div>
    </header>
    <div class="center-page">
        <div class="frontpage-center">
            <div class="user-frontpage">
                <h1>Velkommen til <span class="site-title">Ønskelisten</span></h1>
                <br>
                <h3>Her går dine ønsker i opfyldelse!</h3>
            </div>
        </div>
    </div>
    <div th:insert="~{home/footer :: footer}"></div>
</body>
</html>