<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body id="login-body-padding">
<header>
    <div th:replace="~{home/navbar/guest/login}"></div>
</header>
<div class="center-page">
    <div class="center-form" id="center-user-form">
        <div class="form-box">
            <h2>Log ind med e-mail</h2>
            <br>
            <a>Du skal have en profil hos Ønskelisten for at fortsætte</a>
            <br>
            <br>
            <form action="/loginAttempt" method="post">
                <label class="form-label" for="email">E-mail</label>
                <input type="email" class="form-text-box" id="email" name="email" placeholder="Indtast e-mail" required>
                <br>
                <br>
                <label class="form-label" for="password">Kodeord</label>
                <input type="password" class="form-text-box" id="password" name="userPassword" placeholder="Indtast kodeord" required>
                <br>
                <br>
                <p class="form-proceed" id="form-proceed-invalid" th:text="${invalidMessage}"></p>
                <br>
                <button type="submit" class="operation-button applyButton">LOG IND</button>
            </form>
        </div>
    </div>
</div>
<div th:insert="~{home/footer :: footer}"></div>
</body>
</html>