<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" ref="/src/main/resources/static/styles/style.css" th:href="@{/styles/style.css}">
</head>
<body>
<header>
    <nav class="navbar">
        <a class="active" href="/login">Log ind</a>
        <a href="/newUser">Opret Bruger</a>
        <a href="/">Forside</a>
        <b><img th:src="@{images/oenskelisten.png}" id="frontpageLogo" onclick="window.location.href='/';" style="cursor:pointer;"/></b>
        <b><h1 id="frontpageHeaderName">Ønskelisten</h1></b>
    </nav>
</header>
<div class="center-page">
    <div class="center-form">
        <div class="form-box">
            <h2>Log ind med e-mail</h2>
            <br>
            <a>Du skal have en profil hos Ønskelisten for at fortsætte</a>
            <br>
            <br>
            <form action="/loginAttempt" method="post">
                <label class="form-label" for="email">E-mail</label>
                <input type="email" class="form-text-box" id="email" name="email" placeholder="Indtast e-mail" required>
                <br>
                <br>
                <label class="form-label" for="password">Kodeord</label>
                <input type="password" class="form-text-box" id="password" name="userPassword" placeholder="Indtast kodeord" required>
                <br>
                <br>
                <button type="submit" class="operation-button applyButton">LOG IND</button>
            </form>
        </div>
    </div>
</div>
<div class="div2" th:insert="~{home/footer :: footer}"></div>
</body>
</html>