<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" ref="/src/main/resources/static/styles/style.css" th:href="@{/styles/style.css}">
</head>
<body>
<header>
    <nav class="navbar">
        <a href="/user">Opret Bruger</a>
        <a class="active" href="/wishlist">&Oslash;nskelister</a>
        <a href="/">Forside</a>
        <b><img th:src="@{images/oenskelisten.png}" id="frontpageLogo"/></b>
        <b><h1 id="frontpageHeaderName">Ønskelisten</h1></b>
    </nav>
    <!--<div th:insert="~{home/nav :: nav}"></div>-->
</header>
<a href="/wishlist"><< Overblik</a>
<h1 th:text="${wishlist.wishlistName}"></h1>

<table>
    <thead><td>Wishlist ID</td><td>Wish name</td><td>Wish desc</td><td>Wish price</td></thead>
    <tr th:each="wish : ${wishes}">
        <td th:text="${wish.wishlistId}"></td>
        <td th:text="${wish.wishName}"></td>
        <td th:text="${wish.wishDescription}"></td>
        <td th:text="${wish.price}"></td>
        <td><form action="/prepareWishUpdate" method="get">
            <input type="hidden" name="wishId" th:value="${wish.wishId}">
            <button type="submit">Opdater</button>
        </form></td>
        <td><form action="/deleteWish" method="post">
            <input type="hidden" name="wishId" th:value="${wish.wishId}">
            <button type="submit">Slet</button>
        </form></td>
    </tr>
</table>
<form action="/newWish" method="get">
    <input type="hidden" name="wishlistId" th:value="${wishlist.wishlistId}">
    <button type="submit">Tilføj Ønske</button>
</form>
<div class="div2" th:insert="~{home/footer :: footer}"></div>
</body>
</html>