<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret bruger</title>
</head>
<body>
<h1>Opret bruger</h1>
<form action="/addUser" method="post">
    <label> Enter first name</label>
    <input type="text" name="firstName">
    <br>
    <label for="">Enter last name</label>
    <input type="text" name="lastName">
    <br>
    <label>Enter email address</label>
    <input type="text" email="email">
    <br>
    <label> enter password</label>
    <input type="text" password="userPassword">
    <br>
    <button type="submit">Create User</button>
    </form>

</body>
</html>