<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" ref="/src/main/resources/static/styles/style.css" th:href="@{/styles/style.css}">
</head>
<body>
<header>
    <nav class="navbar">
        <a class="active" href="/user">Opret Bruger</a>
        <a href="/wishlist">&Oslash;nskelister</a>
        <a href="/">Forside</a>
        <b><img th:src="@{images/oenskelisten.png}" id="frontpageLogo"/></b>
        <b><h1 id="frontpageHeaderName">Ønskelisten</h1></b>
    </nav>
</header>
<table>
    <thead><td>User ID</td><td>Full name</td><td>E-mail</td><td>Password</td></thead>
    <tr th:each="user : ${users}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.firstName + ' ' + user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.userPassword}"></td>
        <td><form action="/prepareUserUpdate" method="get">
            <input type="hidden" name="userId" th:value="${user.userId}">
            <button type="submit">Opdater</button>
        </form></td>
        <td><form action="/deleteUser" method="post">
            <input type="hidden" name="userId" th:value="${user.userId}">
            <button type="submit">Slet</button>
        </form></td>
    </tr>
</table>
<form action="/newUser" method="get">
    <button type="submit">new user</button>
</form>
<div class="div2" th:insert="~{home/footer :: footer}"></div>
</body>
</html>