<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link rel="stylesheet" ref="/src/main/resources/static/styles/style.css" th:href="@{/styles/style.css}">
</head>
<body>
<header>
    <nav class="navbar">
        <a href="/user">Opret Bruger</a>
        <a class="active" href="/wishlist">&Oslash;nskelister</a>
        <a href="/">Forside</a>
        <b><img th:src="@{images/oenskelisten.png}" id="frontpageLogo"/></b>
        <b><h1 id="frontpageHeaderName">Ønskelisten</h1></b>
    </nav>
    <!--<div th:insert="~{home/nav :: nav}"></div>-->
</header>
<table>
    <thead><td>Wishlist ID</td><td>User ID</td><td>Wishlist Name</td></thead>
    <tr th:each="wishlist : ${wishlists}">
        <td th:text="${wishlist.wishlistId}"></td>
        <td th:text="${wishlist.userId}"></td>
        <td th:text="${wishlist.wishlistName}"></td>
        <td>
            <form action="wish" method="get">
                <input type="hidden" name="wishlistId" th:value="${wishlist.wishlistId}">
                <input type="hidden" name="wishlistName" th:value="${wishlist.wishlistName}">
                <button type="submit">Tilføj Ønske</button>
            </form>
            <form action="wishlist/delete" method="post">
                <input type="hidden" name="wishlistId" th:value="${wishlist.wishlistId}">
                <button type="submit">Slet</button>
            </form>
            <form action="/wishlist/update" method="get">
                <input type="hidden" name="id" th:value="${wishlist.wishlistId}">
                <button type="submit" class="update-btn">Opdater ønskeliste</button>
            </form>

        </td>
    </tr>
</table>
<form action="/new_wishlist" method="get">
    <button type="submit">Tilføj Ønskeliste</button>
</form>
<div class="div2">
    <footer>Information</footer>
</div>
</body>
</html>